<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    {%
      set localMeta = meta | default({
        title: 'gulp-html-starter',
        description: 'A starter kit for speeding markup',
        og: {
          title: 'gulp-html-starter',
          url: 'https://github.com/wofiminh/gulp-html-starter',
          description: 'A starter kit for speeding markup',
          image: 'https://github.com/wofiminh/gulp-html-starter'
        }
      })
    %}

    <title>{{ localMeta.title }}</title>
    <meta name="description" content="{{ localMeta.description }}">

    <meta property="og:title" content="{{ localMeta.og.title }}">
    <meta property="og:site_name" content="{{ localMeta.og.title }}">
    <meta property="og:description" content="{{ localMeta.og.description }}">
    <meta property="og:url" content="{{ localMeta.og.url }}">
    <meta property="og:image" content="{{ localMeta.og.image }}">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    {% include 'shared/_header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'shared/_footer.html' %}

    <script src="/js/main.js"></script>
  </body>
</html>
